#######################################
# Packcages managers
#######################################
/vendor/

#######################################
# IDE
#######################################
.idea/

#######################################
# Others
#######################################
*.DS_Store
